<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{myapp}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <p>Автор проекта: {{author_name}}</p>
    <p>Группа: {{group}}</p>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <h1>{{myapp}}</h1>

    <p>{{ author_name }}</p>

    <p>{{ author_group }}</p>

    <h2>Валюты</h2>

    {% if currencies %}
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Код валюты</th>
                <th>Дата обновления</th>
                <th>Курс (руб.)</th>
                <th>Номинал</th>
            </tr>
        </thead>
        <tbody>
            {% for item in currencies %}
            <tr>
                <td>{{ item.id }}</td>
                <td><strong>{{ item.char_code }}</strong></td>
                <td>{{ item.name }}</td>
                <td>{{ item.value }}</td>
                <td>{{ item.nominal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Нет данных о валютах</p>
    {% endif %}

    {{result}}

    <p>Текущее время: {{ current_time }}</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>